@accentColor: white;

@liberalRed: hsla(359, 78%, 47%, 1.0);
@liberalRedBright: hsla(359, 88%, 67%, 1.0);

@ndpOrange: hsla(34, 96%, 45%, 1.0);
@ndpOrangeBright: hsla(34, 96%, 65%, 1.0);

@conservativeBlue: hsla(214, 63%, 35%, 1.0);
@green: hsla(116, 49%, 41%, 1.0);
@blocBlue: hsla(200, 80%, 46%, 1.0);
@ppcPurple: hsla(285, 65%, 58%, 1.0);
@independentBeige: hsla(45, 20%, 65%, 1.0);
@otherGray: hsla(0, 0%, 53%, 1.0);

body, input, button {
  font-family: 'Barlow', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: hsl(59, 49%, 77%);
  text-decoration: none;
}

a:hover {
  color: hsl(59, 49%, 57%);
}

h1, h2, h3, h4, h5, h6 { margin: 0 }

h4 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 1.7rem;
  font-weight: 300
}

h5 { text-transform: uppercase; margin-bottom: 0.5em }

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding-top: 0.125em;
  padding-right: 0.1em;
  padding-bottom: 0.125em;
  padding-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

td:last-child {
  padding-right: 0;
}

thead td {
  padding-top: 0;
  border-bottom: 3px double white;
}

tfoot td { border-top: 3px double white; border-bottom: 0; }

b { font-weight: 600; }

header, footer {
  position: relative;
  background-color: black;
  padding: 1em;

  &::after {
    clear: both;
    display: table;
    content: "";
  }
}

header h1 {
  float: left;
  margin-right: 1em;
}

footer h4 {
  margin-top: 0;
}

#langButtons, #electionButtons {
  float: right;
  margin-top: 0.25em;
  margin-left: 1rem;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 60%;
  min-height: 40%;
  right: 0;
  background-color: black;
  color: white;
  padding: 1em;
  line-height: 1.3;
  width: 30vw;
  overflow: auto;
}

.radioButtons {
  font-size: 1rem;
  line-height: 1.2rem;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid @accentColor;
  border-radius: 3px;
  padding: 2px;
}

button.radio {
  float: left;
  display: block;
  margin: 0;
  border-radius: 0;
  padding: 1px 0.5rem;
  font-size: 1rem;
  line-height: 1.2em;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  color: white;
  cursor: pointer;

  &:focus, &:active {
    border-color: @accentColor;
    outline: none;
  }

  &.active {
    background-color: @accentColor;
    border-color: @accentColor;
    color: black;
  }

  .button-label-short { display: none }

  &[disabled] {
    color: hsla(0, 0%, 100%, 0.5);
  }
}

#search {
  position: relative;
  float: right;
  margin: 0.25rem 0 0 0;
  input {
    margin: 0;
    border: 1px solid white;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    height: 1.85rem;
    background-color: black;
    color: white;
    padding: 1px 5px;
    -webkit-appearance: none;
    width: 18em;
  }

  input:focus {
    border: 2px solid white;
    outline: none;
    padding: 0 4px;
  }
}

#searchResults {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}

.searchResult {
  cursor: pointer;
  padding: 0.25em 0.5em;
  background-color: hsla(0, 0, 0, 0.75);
  width: 20em;

  &:hover {
    background-color: hsla(0, 0, 0, 1);
  }
}

footer {
  font-size: 0.87rem;
}

.columns .column {
  float: left;
  box-sizing: border-box;
  max-width: 30rem;
  padding-right: 1em;
  margin-right: 1em;
}

.columns .column:first-child {
  border-right: 1px solid white;
}

#mapTooltip {
  position: fixed;
  z-index: 2;
  background-color: hsla(0, 0, 0, 0.75);
  padding: 0.25em;
  font-size: 0.87rem;
  margin-top: 1.5em;
  max-width: 10em;
  text-align: center;
}

.liberal {
  background-color: @liberalRed;
  fill: @liberalRed;
  &:hover {
    background-color: @liberalRedBright;
    fill: @liberalRedBright;
  }
}

.ndp {
  background-color: @ndpOrange;
  fill: @ndpOrange;
  &:hover {
    background-color: @ndpOrangeBright;
    fill: @ndpOrangeBright;
  }
}

svg {
  g.riding {
    cursor: pointer;

    .ridingPath {
      fill-rule: nonzero;
      stroke: black;
      stroke-width: 0.5px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 10;
    }
  }

  .ocean {
    fill: hsl(209, 51%, 87%);
  }

  .foreignLand {
    fill: hsl(207, 17%, 74%);
  }

  .foreignLandBorder {
    fill: none;
    stroke: hsl(207, 17%, 74%);
    stroke-width: 2px;
  }

  .canadaLand {
    fill: hsl(168, 30%, 74%);
  }

  .internationalBorder {
    fill: none;
    stroke: hsl(207, 17%, 12%);
    stroke-width: 2px;
  }

  .provincialBorder {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.75;
    stroke-width: 2px;
    stroke-dasharray: 4, 4, 0, 0;
  }

  .countryText {
    font-weight: 700;
    font-size: 18px;
    fill: rgba(0, 0, 0, 0.65);
  }

  .provinceText {
    font-weight: 700;
    font-size: 14px;
    fill: rgba(0, 0, 0, 0.65);
  }

  .waterText {
    font-weight: 400;
    font-size: 10px;
    fill: hsl(209, 51%, 62%);
  }
}

@media (max-width: 64rem) {
  .columns .column {
    float: none;
  }

  .columns .column:first-child {
    border-right: 0;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.4em;
  }

  button.radio {
    .button-label-short { display: inline }
    .button-label-long { display: none }
  }

  svg {
    .provincialBorder, .internationalBorder {
      stroke-opacity: 1;
      stroke-width: 3px;
    }
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media (max-aspect-ratio: ~"8/9") {
  .overlay {
    position: static;
    width: auto;
    max-width: 30em;
    min-height: 17em;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
  }

  header h1 {
    float: none;
  }

  #langButtons, #electionButtons, #search {
    margin-top: 0.75em;
    margin-left: 0;
    margin-right: 1em;
    float: left;
  }

}
